@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap");
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --fontsize: 1.3rem;
  --mono: "oxygen mono", monospace;
  --sans: oxygen, sans-serif;
}

/*  generic styles for the page  */
body {
  padding: 0%;
  margin: 0%;
  font-family: var(--sans);
  background-color: var(--dkblue);
  color: var(--white);
  font-size: var(--fontsize);
}
h1,
h2,
h3 {
  margin: 0%;
}
a {
  color: var(--magenta);
}
a:hover {
  color: var(--dkblue);
  text-decoration: none;
}

img {
  width: 100%;
}
#intro {
  padding: 4rem 1rem 10rem 1rem;
  padding-bottom: 10rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}
/*  header nav section*/
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}
nav h1 a {
  font-family: var(--sans);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--magenta);
}

.button {
  background-color: var(--magenta);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
}

.button :hover {
  color: var(--white);
  background-color: var(--hotmag);
}
@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li :first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
